a(name='top')
section.homepage-hero(style='background-color:#fff;margin:-80px 0 60px 0;padding:0px 0 0 0;')
  .row
    .large-12.text-left(style='margin-left:5%;padding:50px 0 60px 0px;')

section#main-content(style='background-color:#f0f0f0;margin:-60px 0 0 0;padding:40px 0 40px 0;background:url("/img/alcura-night@2x.jpg") no-repeat;background-size:cover;min-height:800px;')
  .row.centered-text
    .large-12.columns.centered-text(style='margin:100px 0 0 40px;')
      h1(style='color:#fff !important;') Experience a true non-psychoactive alternative, hemp derived CBD.
    .large-7.columns.text-left(style='margin-top:-40px;')

section#main-content(style='background-color:#fff;margin:-40px 0 0 0;padding:0px 0 0 0;')
  .row.centered-text
    .large-5.columns.text-left(style="margin-top:60px;")
      h2 What is CBD-rich Hempstalk oil?
      h5(style="margin-top:-20px;")
        | Hempstalk Oil is naturall derived through extraction from the mature stalks of the industrial hemp plant.  It contains a wide range of terpenes, omegas, and naturally occurring cannabinoids.
    .large-7.columns.text-left(style='padding:100px 0 0 60px;')
      img(src='./img/molecule.jpg', style='margin-top:-40px;')
section#main-content
  .row.centered-text
    hr.margin-bottom-40px
    br
    .large-12.columns
      br
      h2 The Alcura Difference
  .row.centered-text
    .medium-4.large-4.columns.supporticons
      img(src='./img/icon-eu.jpg', width="55%")
      h5
        strong
          | Eco-Farming
          br
          | Certified
        br
        br
        | Hemp grown according to the EU’s eco-farming certification regulations, a standard as stringent as USDA Organic regulations.
    .medium-4.large-4.columns.supporticons
      img(src='./img/icon-nowax.jpg', width="55%")
      h5
        strong
          | No Waxes
          br
          | or Solids
        br
        br
        | Completely extracted for purity and contain no waxes or solids, providing the purest CBD-rich extract and smoothest vaping experience.
    .medium-4.large-4.columns.supporticons
      img(src='./img/icon-pesticide.jpg', width="55%")
      h5
        strong
          | No Use of 
          br
          | Pesticides
        br
        br
        | All industrial hemp materials are grown without the use of pesticides at any point in the crop cycle.
  .row.centered-text
    br
    br
    br
    .large-12.columns(style='margin-top:-140px;')

      .medium-4.large-4.columns.supporticons
        img(src='./img/icon-extract.jpg', width="50%")
        h5
          strong
            | Pure
            br
            | Extract
          br
          br
          | No detectable levels of any heavy metals, mold, yeast, or toxic microbes in our extract
      .medium-4.large-4.columns.supporticons
        img(src='./img/icon-cbd.jpg', width="50%")
        h5
          strong
            | High CBD
            br
            | Concentration 
          br
          br
          | Highest CBD concentrations ensure maximum benefit and delivery with every draw.
      .medium-4.large-4.columns.supporticons
        img(src='./img/icon-badge.jpg', width='50%')
        h5
          strong
            | Third Party
            br
            | Verified
          br
          br
          | All batches tested by verified, third-party, independent labs to ensure quality specifications are met.
    hr.margin-bottom-40px
section#main-content(style='background-color:#fff;margin:-40px 0 0 0;padding:0px 0 0 0;')
  .row.centered-text
    .large-10.columns.text-left.faq(style='padding:20px 0 0 180px;')
      h2 Frequently Asked Questions
      h5 How is the CBD-rich Hempstalk Oil from Alcura different?
      h6 While there are many quality hemp products on the market, the Alcura difference in the production of our e-liquids is in strict adherence to the most stringent standards for each and every ingredient in our products.  All Alcura products are product from Industrial Hemp grown according to the EU’s eco-farming certification, a standard as stringent as USDA organic standards.  Because of the advanced extraction techniques used to create our oil, there are never any waxes or solids in the extract, ensuring that you as a customer experience a consistent vaping experience with each draw. Additionally, none of our input hemp products use pesticides in the growing process, and all batches are fully tested by certified, third-party labs for the presence of heavy metals, mold, yeast, and microbes.

      h5 What makes Hemp and Marijuana different, and is cannabidiol (CBD) derived from Hemp as beneficial as it is from Marijuana? 
      h6 Industrial Hemp and Marijuana can be viewed as the same plant genetically and scientifically. However, hemp and Marijuana are two different varieties of the Cannabis sativa L., a flowering herb indigenous to many parts of the world. The major difference is in the breeding along with the natural genetic differences. Throughout history Marijuana has been bred to have very high levels of THC mostly concentrated in the trichomes and flowers of the plant and traditionally containing low levels of cannabidiol (CBD). Marijuana can be Cannabis indica or Cannabis sativa while Industrial Hemp is always Cannabis sativa. Marijuana traditionally will be full of flowering dense buds, bushy, and overall smaller in size. Industrial Hemp on the opposite side of the spectrum has minimal flowering buds, extremely fibrous long stalks, and contains very high levels of CBD while only having trace amounts of THC. Whether cannabidiol (CBD) is derived from Hemp or Marijuana, CBD is CBD. We can think of this in terms of protein; proteins can be derived from a variety of sources yet still remains a protein. Due to the natural cannabinoid profile of Hemp and Marijuana, Hemp is phenomenal in that it enables one to receive the benefits of Cannabis without the “high” effect traditional to Marijuana, which is why Alcura is truly “The Non-Psychoactive Alternative”. 

      h5 Will Alcura CBD-rich Hempstalk products make you “high”?
      h6 No, THC and CBD are both cannabinoids, but CBD unlike THC is non-psychoactive, meaning Alcura products will not give you the traditional psychoactive experience as THC products. However, many users experience a very calming and relaxed feeling from our products. There are very small trace amounts of THC in CBD but the percent is very low.  In fact, in order to maintain legality, all Alcura products fall below the legal threshold of 0.3% THC levels, which is fully verified through lab testing.

      h5 Why is high content cannabidiol oil (CBD oil) much more expensive then customary hemp seed oil?
      h6 The cost and value of industrial hemp oil products is the main ingredient, cannabidiol (CBD), which is the most abundant cannabinoid found in hemp. Additionally, in order to legally acquire the industrial CBD oil under the regulations of the Federal Government, the hemp must be grown, extracted, and imported from outside of the United States. The cost of importation, as you can imagine, is quite expensive as a whole. Once the extracted CBD oil is imported into the United States, it is placed through a number of tests to ensure that the product is of the highest quality, potency, and purity. 

      h5 What is the legality of Industrial hemp, Cannabidiol (CBD), and other Industrial Hemp-based products? 

      h6 Industrial hemp derived cannabidiol (CBD) products are legal to buy, possess, consume, and sell in the United States as well as many other countries. CBD Technologies imports its raw industrial hemp oil under approved tariff codes to its facilities and always blends products and produces in a cGMP certified facility in the United States. Industrial hemp products that have been imported through the proper means are exempt from the marijuana and THC laws in Schedule I of the DEA. Hemp grown within the United States would not be compliant with federal regulations – hence the supply is sourced from out of the country. Due to the fact that the FDA considers Hemp and Hemp-derived cannabinoids (including CBD) to be food-based products there are no legal restrictions on their importation or consumption in the United States and in most of the industrialized world as long as they maintain the appropriate low-levels of THC. Non-psychoactive hemp is not included in Schedule I of the Controlled Substance Act and hemp is legal to import, sell, and consume in all 50 states.
      br
      br
      br
      br