img(src='./img/top-strip.png', style='margin-top:-6px;')
nav.top-bar.hide-for-medium-down(data-topbar='', style='margin:40px 0 0px 0;background:url("");')
  ul.title-area(style='margin-left:5%;')
    li.name
      h1(style='margin-top:16px;')
        a(href='/#/')
          img(src='./img/logo_d.png', style='', width='130px;')
  section.top-bar-section
    ul.right
      li
        a(href='index.html#/technology') Technology
      li
        a(href='index.html#/cbd-extract') CBD Extract
      li
        a(href='index.html#/company') Company
      li
        a(href='index.html#/recycle') Recycle
      li
        a(href='index.html#/contact') Contact
nav.hide-for-small(style='float:right;margin:-20px 50px 40px 0;')
  .small
    a(href='http://shop.vapealcura.com/#!/products/pure-12-unit-master-pack') Buy Now
