a(name='top')
section#main-content(style='background-color:#fff;margin:-40px 0 0 0;padding:0px 0 0 0;')
  .row.centered-text
    .large-5.columns.text-left.headspace-20(style='padding:80px 0 0 0px;')
      h2 The perfect puff for your evening relaxation.  Love each second your alive.
      h5
        | Live at the top of your life with only the best stimulation and resolve.
    .large-7.columns.text-left(style='padding:40px 0 0 60px;')
      img(src='./img/alcura_show@2x.jpg')