

a(name='top')
section.about-hero(style='background-color:#fff;margin:-80px 0 0px 0;padding:0px 0 0 0;height:100px;')
  .row
    .large-12.text-left(style='margin-left:5%;padding:50px 0 60px 0;')
section.maint-content(style='background-color:#6453a1;padding:50px;')
  .row
    .large-12.centered-text
      h1(style='color:#fff !important;') Experience Alcura
      h5(style='color:#fff !important') The best CBD Vaping experience available.
section#main-content(style='background-color:#fff;margin:80px 0 0 0;padding:0px 0 0 0;')
  .row
    .large-4.columns(style='padding:40px 0 0 0px;text-align:center;')
      h3 Alcura Day
      img(src='./img/alcura-day.jpg')
      br
      br
      a.medium.button(href='http://alcura-shop.herokuapp.com/#!/products/alcura-cannibidiol-day-and-night', style='background-color: #fff;') Buy Now
    .large-4.columns(style='padding:40px 0 0 0px;text-align:center;')
      h3 Alcura Night
      img(src='./img/alcura-night.jpg')
      br
      br
      a.medium.button(href='http://alcura-shop.herokuapp.com/#!/products/alcura-cannibidiol-day-and-night', style='background-color: #fff;') Buy Now
    .large-4.columns(style='padding:40px 0 0 0px;text-align:center;')
      h3 Alcura 24
      img(src='./img/alcura-pure.jpg')
      br
      br
      a.medium.button(href='http://alcura-shop.herokuapp.com/#!/products/alcura-cannibidiol-day-and-night', style='background-color: #fff;') Buy Now
  .row
    .large-4.columns(style='padding:40px 0 0 0px;text-align:center;')
      h3 Alcura Pure
      img(src='./img/alcura-pure.jpg')
      br
      br
      a.medium.button(href='http://alcura-shop.herokuapp.com/#!/products/alcura-cannibidiol-day-and-night', style='background-color: #fff;') Buy Now
    .large-4.columns(style='padding:40px 0 0 0px;text-align:center;')
      h3 Pure Day and Night
      img(src='./img/alcura-pure.jpg')
      br
      br
      a.medium.button(href='http://alcura-shop.herokuapp.com/#!/products/alcura-cannibidiol-day-and-night', style='background-color: #fff;') Buy Now
    .large-4.columns(style='padding:0px 0 0 0px;text-align:center;')
      p &nbsp;