a(name='top')

section#main-content(style='background-color:#6a569d;margin:30px 0 0 0;padding:250px 0 40px 0;background-size:cover;min-height:400px;')
  .row.centered-text
    .large-12.columns
      .spot
        h1(style='color:#fff !important;text-align:center;margin-top:-80px;') Don't forget to recycle!
section#mast-about
  .row
    .large-12
      a(name='who-we-are')
      h3 Recycle your Alcura disposable vaporizer products to protect the environment and earn free product
      p(style='margin-top:-30px;') CBD Technologies takes pride in doing our part to protect the environment. Return your used Alcura disposable vaporizer products and we will thank you with a free 2-pack of your favorite flavor, absolutely free of charge. For every 10 individual Alcura disposable vaporizers you to send to us, we will send you one 2-pack in return.
      br  
      a(href='/img/recycle.pdf', style='margin-left:5%;') Download our simple recycling form.
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
