doctype html
html
  head
    title Alcura
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    meta(name='description', content='We deliver the best CBD experience.')
    meta(name='author', content='ALCURA, llc.')
    meta(name='copyright', content='ALCURA, llc. Copyright (c) 2015')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')


    link(rel='stylesheet' href='/css/foundation.css')
    link(rel='stylesheet' href='/css/app.min.css')
    link(rel='stylesheet' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    script(src='/lib/devicejs/lib/device.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/ionic.bundle.min.js')
    script(src='cordova.js')
    script(src='/lib/underscore/underscore.js')
    script(src='/lib/angular-socket-io/socket.js')
    script(src='/js/application.js')

    
  body(ng-app='Tapcentive', animation='slide-left-right-ios7', ng-controller='AppCtrl')
    ng-include(src="'main.html'")
