ion-view.homepage-hero
  ion-content(padding='true', scroll='true')
    ion-slide-box
      ion-slide
        div.mobile-heros
          h1(style='color:#7eb549 !important;text-align:center;margin-top:0px;') CBD-Rich 
            br
            strong Hemp Vaporizers
          h2(style='margin-top:-10px;') The Non-Physchoactive 
            br
            | Alternative
          img(src='./img/Alcura-Group-Pack.jpg', width='90%', style='margin-top: 20px;margin-left:20px;')
          br
          h4(style='text-align:center;padding:20px;line-height:26px;') We focus on the intersection of the highest quality, hand-crafted extract products and the most innovative delivery technologies
          div(class='mobile-chunks')
            img(src='./img/icon-leaf.png')
            h5
              strong
                | HIGHEST CBD
                br
                | CONCENTRATION
              br
              br
              | Standard products on the market use between 3 and 5 mg/ml, almost 10 times less than Alcura products.
          
            img(src='./img/icon-temp.png')
            h5
              strong
                | ADVANCED “NO BURN” 
                br
                | VAPORIZATION
              br
              br
              | The Alcura microprocessor controls the heating of CBD to the perfect vaporization temperature of 270-300 degrees.
          
            img(src='./img/icon-asterik.png')
            h5
              strong
                | PROPYLENE GLYCOL
                br
                | AND CHEMICAL FREE
              br
              br
              | Alcura uses only USP grade, propylene glycol free, natural ingredients all produced in a GMP environment.
            img(src='./img/icon-star.png')
            h5
              strong
                | ORGANIC 
                br
                | MATERIAL
              br
              br
              | All Alcura hemp is grown under EU Ecofarming standards and is free of pesticides, molds, and dangerous heavy metals.
          
            img(src='./img/icon-no.png')
            h5
              strong
                | BLENDED IN A 
                br
                | CERTIFIED GMP FACILITY
              br
              br
              | Alcura produces all blends in a certified, FDA approved, GMP facility.
          
            img(src='./img/icon-leaf.png')
            h5
              strong
                | VAPORIZERS
                br
                | MADE IN USA
              br
              br
              | All Alcura products are assembled and quality tested in the US. Each device is tested for component quality and lifecycle.
      ion-slide
        div.mobile-heros
          h1(style='color:#7eb549 !important;') Buy Alcura Today
          h2(style='margin-top:-20px;') Order Online 
            br
            br
            a(href='http://shop.vapealcura.com/#!/products/24-12-pure-unit-master-pack')
              img(src='./img/alcura-pure.jpg')
              a.large.button(href='http://shop.vapealcura.com/#!/24-12-pure-unit-master-pack', style='background-color: #fff;') Buy Now
          
            a(href='http://shop.vapealcura.com/#!/products/day-12-unit-master-pack')
              img(src='./img/alcura-day.jpg')
              a.large.button(href='http://shop.vapealcura.com/#!/day-12-unit-master-pack', style='background-color: #fff;') Buy Now
          
            a(href='http://shop.vapealcura.com/#!/products/alcura-cannibidiol-night')
              img(src='./img/alcura-night.jpg')
              a.large.button(href='http://shop.vapealcura.com/#!/products/alcura-cannibidiol-night', style='background-color: #fff;') Buy Now
          
            a(href='http://shop.vapealcura.com/#!/products/24-12-unit-master-pack')
              img(src='./img/alcura-24.jpg')
              a.large.button(href='http://shop.vapealcura.com/#!/products/24-12-unit-master-pack', style='background-color: #fff;') Buy Now
    